.btn-primary:hover,
.orange,
.contact-sec .contact-list .icon-holder,
#footer .social-icons a:hover,
.work-sec .txt-holder h3 a:hover,
.contact-sec .contact-list .wrap a:hover,
.contact-form .btn-primary:hover {
  color: #ef4836; }

.btn-primary,
#nav li:after,
.work-sec .txt-holder .icon,
.resume-sec .wrap .duration,
.heading:after,
#header .logo a,
#nav li a:hover,
#nav ul .anchor-active a {
  background-color: #ef4836; }

.btn-primary,
.chart {
  border-color: #ef4836; }

.badge {
  padding: 8px 10px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
}

.badge-primary{
  background-color: #337ab7;
}

.badge-warning{
  background-color: #f0ad4e;
}

.badge-secondary{
  background-color: #ef4836;
}

.badge-success{
  background-color: #5cb85c;
}

.badge-danger{
  background-color: #d43f3a;
}

.badge-info{
  background-color: #31b0d5;
}

.cv{
  transition: 200ms ease-in-out;
}

.cv:hover{
  background-color: #d43f3a;
  color: white;
}
